################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestBattyEngineGame
/build/raylib
/Test/x64/Debug
/Test/Test.vcxproj.user
/x64/Debug
/ATLAS-HUGGED-WEB
/enc_temp_folder/71a3a3c0908b9c1e79ba3c4416a1a990/screen_gameplay.cpp
/x64/Release
/ATLAS-HUGGED-WEB.zip
/index.data
/index.html
/index.js
/index.wasm
/Test/x64/Release
